
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #262424;
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
}

*{
    box-sizing: border-box;
}

.container{
    width: 1060px;
    margin: 0 auto;
}

.container--small{
    width: 880px;
    margin: 0 auto;
}


.container--smallest{
    width: 700px;
    margin: 0 auto;
}


.wrapper{
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__content{
    flex: 1;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}

h2{
    font-size: 49px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 0 auto 50px;
    width: 100%;
}

h3{
    font-size: 12px;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 0.2em;
    margin-bottom: 8px;
}

p{
    margin: 0;
}

.grey{
    color: #656464;
}
