.apps__title{
    font-weight: bold;
}

.apps__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110px;
    margin: 0;
    padding: 8px 0;
}

.apps__list .apps__icon{
    height: 20px;
    width: 20px;
    background-color: #cfcfcf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apps__list .apps__icon:hover{
    background-color: #e1942a;
}