
.banner{
    background-color: #1a1b1c;
    background-image: url(../images/pattern.png);
    background-repeat: repeat-x;
    color: #c2c2c2;
    padding: 30px 27px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 20px;
}

.banner p{
    font-size: 18px;
    line-height: 1.9em;
}

.banner span{
    color: #e1942a;
    font-weight: bold;
}