
.contacts{
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 16px;
}

.contacts__phone a{
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}

.contacts__schedule a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: #e1942a;
}

.contacts__schedule a:hover{
    color: #fff;
}
