.features {
    background-color: #1a1b1c;
    color: #fff;
    padding: 50px 0 104px;
}

.features__content{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 740px;
}

.features__item{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 202px;
}

.feature__img{
    border: none;
    background-color: #e1942a;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__title{
    font-weight: 800;
    font-size: 11px;
    text-transform: uppercase;
    margin: 38px 0 20px;
    letter-spacing: 0.2em;
}

.feature__text{
    text-align: center;
    font-size: 18px;
    line-height: 1.7em;
    margin-bottom: 15px;

}

.feature__list li{
    list-style-type: disc;
    font-size: 16px;
    line-height: 1.7em;
}