.header{
    background-color: #1a1b1c;
    margin-bottom: 6.5em;
}

.header-container{
    position: relative;
    height: 77px;
}

.header__logo{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 28px;
}