
.nav{
    margin: 0 0 40px;
}


.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}

.nav__item{
    margin-bottom: 25px;
}

.nav__item:last-child{
    margin-bottom: 0;
}

.nav__item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
}

.nav__link{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.nav__link:hover{
    color: #e1942a;
}

.nav__link:before{
    content: "";
    display: inline-block;
    margin-right: 18px;
    /*background: left center / contain no-repeat;*/
    background: url('../../images/css_sprites.png');
}


.nav__item-icon-main .nav__link:before{
    background-position: -10px -48px;
    width: 19px; height: 14px;
}

.nav__item-icon-main .nav__link:hover:before{
    background-position: -90px -10px;
    width: 19px; height: 14px;
}


.nav__item-icon-feed .nav__link:before{
    background-position: -10px -10px;
    width: 20px; height: 18px;
}

.nav__item-icon-feed .nav__link:hover:before{
    background-position: -50px -10px;
    width: 20px; height: 18px;
}

.nav__item-icon-service .nav__link:before{
    background-position: -49px -48px;
    width: 19px; height: 14px;
}

.nav__item-icon-service .nav__link:hover:before{
    background-position: -90px -44px;
    width: 19px; height: 14px;
}



.nav__item-active .nav__link{
    color: #e1942a;
}

.nav__item-active.nav__item-icon-main .nav__link:before{
    background-position: -90px -10px;
    width: 19px; height: 14px;
}

.nav__item-active.nav__item-icon-feed .nav__link:before{
    background-position: -50px -10px;
    width: 20px; height: 18px;
}


.nav__item-active.nav__item-icon-service .nav__link:before{
    background-position: -90px -44px;
    width: 19px; height: 14px;
}
