
.news {
    padding: 50px 0;
}

.news__content{
    position: relative;
}

.news__main{
    padding: 0;
    display: inline-block;
    position: relative;
    margin-right: 40px;
}

.news__item{
    list-style-type: none;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 25px;
    margin-bottom: 30px;
    position: relative;
}

.news__item:last-child{
    margin-bottom: 0;
}

.news__item:last-child{
    border-bottom: none;
}


.news__img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.news__text{
    width: 670px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: top;
}

.text-news__date{
    font-size: 14px;
    color: #6e6e6e;
    margin-bottom: 8px;
}

.text-news__title{
    font-size: 18px;
}

.news__text p{
    font-size: 18px;
    color: #262424;
    line-height: 1.5em;
    margin: 14px 0;
}
